

/* Style the tab content */
.tabcontent {

    padding: 6px 12px;
    border: 3px solid #ccc;
    border-top: none;
    background-color: #f1f1f1;
    /*text-align: center;*/

}
.mainDiv {
    text-align: center;
    width: 900px;
    margin-left: 100px;
    border: 3px solid black
}
.spanTwoCols{
    grid-column: span 2;
}

fieldset{
    margin: 10px;

}

.predictContainer {

    margin: 10px auto;
    width: 400px;
    height: 320px;
    background-color: #f1f1f1;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-row: auto;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
}
.predictGraphDiv{
    border: 2px solid black;
    height: 300px;
}
.predictLabel{
    display: inline-block;
}


